<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Publicacición</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <center>
        <br>
        <h1>Sello Editorial Universidad de Medellín - Reporte de Propuestas</h1>
    </center>
    <br>
    <center>
    <div class="col-6">
        <table class="table table-danger" id="tb">
           <thead>
                <tr>
                    <th scope="">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Facultad</th>
                    <th scope="col">Estado de la Propuesta</th>
                </tr>
            </thead>
            <tbody id="lista"></tbody>
        </table>
    </center>
    </div> 
</body>

</html>